[submodule "tideman"]
	path = tideman
	url = ./tideman/
[submodule "rustlings"]
	path = rustlings
	url = ./rustlings/
[submodule "dir_graph"]
	path = dir_graph
	url = ./dir_graph/
[submodule "voting"]
	path = voting
	url = ./voting/
